/* Default Mobile */

* {
    box-sizing: border-box;
    font-family: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "head"
        "main"
        "foot"
    ;
}

h1,
h2,
p {
    margin: 0;
}

div.hero time,
section.main-article time,
footer h1,
footer p {
    font-size: .75rem;
}

/* Header */
header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.25em;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3em;
}

div.header h1 {
    font-size: 1rem;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.header img {
    width: 7vw;
    height: 7vw;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    padding: 0;
}

nav li {
    font-size: .9rem;
    font-weight: 600;
}

nav li a {
    color: #000000;
    text-decoration: none;
}

main {
    grid-area: main;
}

/* Hero Image Styling */
div.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://s3-alpha-sig.figma.com/img/c528/e275/f482e6b5ba3982a470eec07267b8d035?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=ljSUvko~9V4Dec0RdGjEGlfkSovUuIKh6WziAdbvGTv2t9HCveBHmG6U5iSeaRcjEC1oX3LI5gm21P1Iae2GgKTcPdJe7SDjS4y5AtmPovtd4KUp5pB3eu4YtFv39RMPyXuGW5y~Ftm-7UQjyq9TsbzCHsc3H0DkfbKVIT529ZNzKOe-mnqyq7cqHujUv42uxu7Ua73zLbMmznAIu-0cof7~B9AcAGj5pH6w5vxpMlijNCa3ZD4y9U0uALTSpQCZ2KsRDIw8~M4lrMVKaBcLtFqltE9eYAP4-Je839-9WGgCDA9h9FI-jO35xgUZnNcAiI5Gbb5pN5jf82c6uwAhQw__");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    transform: scaleX(-1);
    z-index: -1;
    filter: brightness(60%);
}

div.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 75vw;
    position: relative;
    overflow: hidden;
    color: white;
    padding: 1.5em 1.25em;
}

/* Main Article Styling */
section.main-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 1.25em;
    gap: 1em;
    margin-bottom: .75em;
}

section.main-article img {
    width: 100%;
    border-radius: 5px;
    max-height: 27vh;
    object-fit: cover;
    object-position: center 80%;
    transform: scaleX(-1);
    filter: brightness(70%);
    margin: 1em 0 0;
}

div.introduction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img#prof-pic {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    object-position: center 40%;
    transform: scaleX(1);
    border-radius: 50%;
}

section.main-article h1 {
    font-size: 2rem;
}

section.main-article h2 {
    font-size: 1rem;
}

div.article-intro h1 {
    margin: .25em 0;
}

div.article-content * {
    margin-top: 1em;
}

/* Content Styling */
section.content {
    display: grid;
    grid-template-columns: 1fr;
}

h1#recent-posts {
    text-align: center;
    font-size: 1rem;
}

article#blog-3,
article#blog-4,
article#blog-5,
article#blog-6 {
    display: none;
}

article.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .625em;
    padding: 1.5em 1.25em;
}

article.blog img {
    width: 100%;
    border-radius: 5px;
    margin: 0 0 .35em;
    height: 27vh;
    object-fit: cover;
    object-position: center;
}

article.blog h1 {
    font-size: 1.5rem;
}

h1#more {
    font-size: 1rem;
    text-align: center;
}

section.content a {
    color: #000000;
}

/* Footer */
footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2em;
    background-color: #202020;
    color: #ECECEC;
    padding: 2em;
    margin-top: 2em;
}

/* For Desktop */
@media (min-width: 1024px) {

    nav li,
    div.hero time,
    section.main-article time,
    p#first,
    div.intro-desc p {
        font-size: 1rem;
    }

    /* Header */
    header {
        padding: 2em 5em;
    }

    .header {
        cursor: pointer;
    }

    div.header {
        gap: .6em;
    }

    div.header h1 {
        font-size: 1.25rem;
    }

    div.header img {
        height: 2vw;
        width: 2vw;
    }

    /* Navigation */
    nav ul {
        gap: 3em;
    }

    /* Hero Image */
    div.hero::before {
        background-position: center 72%;
    }

    div.hero {
        height: 90vh;
        padding: 3.75rem 3.25rem;
        gap: .625em;
    }

    div.hero h1 {
        font-size: 2.5rem;
    }

    div.hero p {
        max-width: 60%;
    }

    /* Main Article */
    section.main-article {
        display: grid;
        grid-template-columns: 5em 1fr 5em;
        grid-template-areas:
            " ... a-intro ... "
            " ma-img ma-img ma-img "
            " ... a-content ... "
        ;
        padding: 4.5em 5em 2.5em;
        margin: 0;
    }

    section#self-article {
        grid-template-areas:
            " a-intro a-intro a-intro "
            " ma-img ma-img ma-img "
            " ... a-content ... "
        ;
    }

    section.main-article h1 {
        font-size: 2.25rem;
        margin: .5em 0;
    }

    section.main-article h2,
    section.main-article p {
        font-size: 1.5rem;
    }

    section.main-article img {
        grid-area: ma-img;
        max-height: 85vh;
        object-position: center 70%;
        margin: 1.5em auto 0;
    }

    div.article-intro {
        grid-area: a-intro;
    }

    div.introduction {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    div.intro-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.article-content {
        grid-area: a-content;
    }

    img#prof-pic {
        grid-area: profile;
        width: 25vh;
        height: 25vh;
    }

    div.article-content * {
        margin-top: 1em;
    }

    /* Content */
    section.content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            " recent recent recent "
            " blog-1 blog-2 blog-3"
            " blog-4 blog-5 blog-6"
            " more more more "
        ;
        padding: 2em 3.25em 1em;
    }

    h1#more {
        grid-area: more;
        margin-top: 1em;
    }

    h1#recent-posts {
        grid-area: recent;
        font-size: 1.5rem;
        margin-bottom: .167em;
    }

    article.blog img {
        height: 30vh;
    }

    article#blog-1 {
        grid-area: blog-1;
    }

    article#blog-2 {
        grid-area: blog-2;
    }

    article#blog-3 {
        display: flex;
        grid-area: blog-3;
    }

    article#blog-4 {
        display: flex;
        grid-area: blog-4;
    }

    article#blog-5 {
        display: flex;
        grid-area: blog-5;
    }

    article#blog-6 {
        display: flex;
        grid-area: blog-6;
    }

    article#blog-6-2 {
        display: none;
    }
}